.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 44px;
  top: 34px;
}
.shruti-elango {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #ffffff;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 325px;
  position: absolute;
  left: 1045px;
  top: 34px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 116px;
  position: relative;
}
.homepage {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 391px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 170px;
}
.let-s-create-a-website-design-today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-codes-i-am-a-current-masters-student-in-information-systems-at-umd-with-experience-as-a-data-and-business-analyst-looking-to-creatively-explore-more-about-website-design {
  color: #ffffff;
  text-align: center;
  position: relative;
  width: 1284px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.let-s-create-a-website-design-today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-codes-i-am-a-current-masters-student-in-information-systems-at-umd-with-experience-as-a-data-and-business-analyst-looking-to-creatively-explore-more-about-website-design-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 72px;
  font-weight: 700;
}
.let-s-create-a-website-design-today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-codes-i-am-a-current-masters-student-in-information-systems-at-umd-with-experience-as-a-data-and-business-analyst-looking-to-creatively-explore-more-about-website-design-span2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.let-s-create-a-website-design-today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-codes-i-am-a-current-masters-student-in-information-systems-at-umd-with-experience-as-a-data-and-business-analyst-looking-to-creatively-explore-more-about-website-design-span3 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.frame-8 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 561px;
  position: absolute;
  left: 439px;
  top: 895px;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.shruti-elango-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-7 {
  background: #a8ff35;
  border-radius: 20px;
  padding: 14px 18px 14px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 65px;
  position: absolute;
  left: 633px;
  top: 573px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
